bindDN: %(ldap_binddn)s
bindPassword: %(encoded_ox_ldap_pw)s
servers: %(ldap_url)s

useSSL: %(use_ssl)s
ssl.trustStoreFile: /etc/certs/openldap.pkcs12
ssl.trustStorePin: %(encoded_openldapJksPass)s
ssl.trustStoreFormat: pkcs12

maxconnections: 10

oxauth_ConfigurationEntryDN=ou=oxauth,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu
oxtrust_ConfigurationEntryDN=ou=oxtrust,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu
oxidp_ConfigurationEntryDN=ou=oxidp,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu
oxcas_ConfigurationEntryDN=ou=oxcas,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu
oxasimba_ConfigurationEntryDN=ou=oxasimba,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu
oxpassport_ConfigurationEntryDN=ou=oxpassport,ou=configuration,inum=%(inumAppliance)s,ou=appliances,o=gluu

certsDir=/etc/certs
confDir=
pythonModulesDir=/opt/gluu/python/libs

binaryAttributes=objectGUID
